<a href="https://colab.research.google.com/github/lucasmeirellesmachado/CDIA-Estatistica_II/blob/main/Atividade_Avaliativa_Semana_de_Imersao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade 2ª Semana de Imersão

### Discentes:
Aracy Siqueira de Oliveira Nunes Braga; Cristiane Alves dos Santos;Lucas Meirelles Machado



### Objetivo:
O objetivo desta atividade é descrever os dados de internação hospitalar no SUS, referente às informações do Estado do Amazonas.

### Passos iniciais

In [ ]:
# Importar as bibliotecas que serão utilizadas durante a atividade

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.formula.api import ols
from statsmodels.stats.outliers_influence import variance_inflation_factor
from scipy import stats

In [ ]:
# Importar a base de dados

SIH_completo = pd.read_csv('/content/drive/MyDrive/Especialização em Ciência de Dados e Inteligência Artificial/Estatística Aplicada II/Cópia de RD202404.csv',
                           sep=';',
                           low_memory=False)

In [ ]:
SIH_completo

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,120000,2024,4,3,4.034526e+12,1224100201423,1,69970000,120060,19970918,...,NaN,0,0,0,0,0,0,0,0,0
1,120000,2024,4,2,4.034526e+12,1224100162714,1,69985000,120042,20031024,...,NaN,0,0,0,0,0,0,0,0,0
2,120000,2024,4,2,4.034526e+12,1224100162901,1,69990000,120033,20070111,...,NaN,0,0,0,0,0,0,0,0,0
3,120000,2024,4,3,4.034526e+12,1224100100652,1,69990000,120033,19730304,...,NaN,0,0,0,0,0,0,0,0,0
4,120000,2024,4,3,4.034526e+12,1224100100685,1,69990000,120033,19461009,...,NaN,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1220163,172120,2024,4,3,NaN,1724100353085,1,77900000,172120,19920101,...,NaN,0,0,0,0,0,0,0,0,0
1220164,172120,2024,4,3,NaN,1724100353096,1,77900000,172120,20210417,...,NaN,0,0,0,0,0,0,0,0,0
1220165,172120,2024,4,3,NaN,1724100353107,1,77900000,172120,20210714,...,NaN,0,0,0,0,0,0,0,0,0
1220166,172120,2024,4,3,NaN,1724100353118,1,77900000,172120,19980922,...,NaN,0,0,0,0,0,0,0,0,0
1220167,172120,2024,4,3,NaN,1724100353129,1,77900000,172120,19600408,...,NaN,0,0,0,0,0,0,0,0,0

In [ ]:
pd.options.display.max_info_columns = 113
SIH_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1220168 entries, 0 to 1220167
Data columns (total 113 columns):
 #    Column      Non-Null Count    Dtype
---   ------      --------------    -----
 0    UF_ZI       1220168 non-null  int64
 1    ANO_CMPT    1220168 non-null  int64
 2    MES_CMPT    1220168 non-null  int64
 3    ESPEC       1220168 non-null  int64
 4    CGC_HOSP    906782 non-null   float64
 5    N_AIH       1220168 non-null  int64
 6    IDENT       1220168 non-null  int64
 7    CEP         1220168 non-null  int64
 8    MUNIC_RES   1220168 non-null  int64
 9    NASC        1220168 non-null  int64
 10   SEXO        1220168 non-null  int64
 11   UTI_MES_IN  1220168 non-null  int64
 12   UTI_MES_AN  1220168 non-null  int64
 13   UTI_MES_AL  1220168 non-null  int64
 14   UTI_MES_TO  1220168 non-null  int64
 15   MARCA_UTI   1220168 non-null  int64
 16   UTI_INT_IN  1220168 non-null  int64
 17   UTI_INT_AN  1220168 non-null  int64
 18   UTI_INT_AL  1220168 non-null  int64
 19   UTI_INT_TO  1220168 non-null  int64
 20   DIAR_ACOM   1220168 non-null  int64
 21   QT_DIARIAS  1220168 non-null  int64
 22   PROC_SOLIC  1220168 non-null  int64
 23   PROC_REA    1220168 non-null  int64
 24   VAL_SH      1220168 non-null  float64
 25   VAL_SP      1220168 non-null  float64
 26   VAL_SADT    1220168 non-null  float64
 27   VAL_RN      1220168 non-null  float64
 28   VAL_ACOMP   1220168 non-null  float64
 29   VAL_ORTP    1220168 non-null  float64
 30   VAL_SANGUE  1220168 non-null  float64
 31   VAL_SADTSR  1220168 non-null  float64
 32   VAL_TRANSP  1220168 non-null  float64
 33   VAL_OBSANG  1220168 non-null  float64
 34   VAL_PED1AC  1220168 non-null  float64
 35   VAL_TOT     1220168 non-null  float64
 36   VAL_UTI     1220168 non-null  float64
 37   US_TOT      1220168 non-null  float64
 38   DT_INTER    1220168 non-null  int64
 39   DT_SAIDA    1220168 non-null  int64
 40   DIAG_PRINC  1220168 non-null  object
 41   DIAG_SECUN  1220168 non-null  int64
 42   COBRANCA    1220168 non-null  int64
 43   NATUREZA    1220168 non-null  int64
 44   NAT_JUR     1220168 non-null  int64
 45   GESTAO      1220168 non-null  int64
 46   RUBRICA     1220168 non-null  int64
 47   IND_VDRL    1220168 non-null  int64
 48   MUNIC_MOV   1220168 non-null  int64
 49   COD_IDADE   1220168 non-null  int64
 50   IDADE       1220168 non-null  int64
 51   DIAS_PERM   1220168 non-null  int64
 52   MORTE       1220168 non-null  int64
 53   NACIONAL    1220168 non-null  int64
 54   NUM_PROC    0 non-null        float64
 55   CAR_INT     1220168 non-null  int64
 56   TOT_PT_SP   1220168 non-null  int64
 57   CPF_AUT     0 non-null        float64
 58   HOMONIMO    1220168 non-null  int64
 59   NUM_FILHOS  1220168 non-null  int64
 60   INSTRU      1220168 non-null  int64
 61   CID_NOTIF   32724 non-null    object
 62   CONTRACEP1  1220168 non-null  int64
 63   CONTRACEP2  1220168 non-null  int64
 64   GESTRISCO   1220168 non-null  int64
 65   INSC_PN     1220168 non-null  int64
 66   SEQ_AIH5    1220168 non-null  int64
 67   CBOR        1220168 non-null  int64
 68   CNAER       1220168 non-null  int64
 69   VINCPREV    1220168 non-null  int64
 70   GESTOR_COD  1220168 non-null  int64
 71   GESTOR_TP   1220168 non-null  int64
 72   GESTOR_CPF  1220168 non-null  int64
 73   GESTOR_DT   0 non-null        float64
 74   CNES        1220168 non-null  int64
 75   CNPJ_MANT   640587 non-null   float64
 76   INFEHOSP    0 non-null        float64
 77   CID_ASSO    1220168 non-null  int64
 78   CID_MORTE   1220168 non-null  int64
 79   COMPLEX     1220168 non-null  int64
 80   FINANC      1220168 non-null  int64
 81   FAEC_TP     89309 non-null    float64
 82   REGCT       1220168 non-null  int64
 83   RACA_COR    1220168 non-null  int64
 84   ETNIA       1220168 non-null  int64
 85   SEQUENCIA   1220168 non-null  int64
 86   REMESSA     1220168 non-null  object
 87   AUD_JUST    6078 non-null     object
 88   SIS_JUST    5998 non-null     object
 89   VAL_SH_FED  1220168 non-null  float64
 90   VAL_SP_FED  1220168 non-null  float64
 91   VAL_SH_GES  1220168 non-null  float64
 92   VAL_SP_GES  1220168 non-null  float64
 93   VAL_UCI     1220168 non-null  float64
 94   MARCA_UCI   1220168 non-null  int64
 95   DIAGSEC1    265090 non-null   object
 96   DIAGSEC2    35804 non-null    object
 97   DIAGSEC3    15448 non-null    object
 98   DIAGSEC4    6944 non-null     object
 99   DIAGSEC5    3048 non-null     object
 100  DIAGSEC6    1306 non-null     object
 101  DIAGSEC7    493 non-null      object
 102  DIAGSEC8    6 non-null        object
 103  DIAGSEC9    5 non-null        object
 104  TPDISEC1    1220168 non-null  int64
 105  TPDISEC2    1220168 non-null  int64
 106  TPDISEC3    1220168 non-null  int64
 107  TPDISEC4    1220168 non-null  int64
 108  TPDISEC5    1220168 non-null  int64
 109  TPDISEC6    1220168 non-null  int64
 110  TPDISEC7    1220168 non-null  int64
 111  TPDISEC8    1220168 non-null  int64
 112  TPDISEC9    1220168 non-null  int64
dtypes: float64(26), int64(73), object(14)
memory usage: 1.0+ GB

### Organizando o banco de dados para posterior análise

In [85]:
# Filtrar base para obter os dados do município de Manaus

SIH_filt = SIH_completo[SIH_completo['MUNIC_RES'] == 130260]

In [ ]:
SIH_filt

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
804,120000,2024,4,3,4.034526e+12,1224100084603,1,69020141,130260,19370420,...,NaN,0,0,0,0,0,0,0,0,0
4048,120000,2024,4,3,4.034526e+12,1224100152088,1,69028120,130260,20000210,...,NaN,0,0,0,0,0,0,0,0,0
20157,130000,2024,4,3,6.972950e+11,1324100333622,1,69021005,130260,19761228,...,NaN,0,0,0,0,0,0,0,0,0
20158,130000,2024,4,3,6.972950e+11,1324100333666,1,69057000,130260,19880225,...,NaN,0,0,0,0,0,0,0,0,0
20159,130000,2024,4,3,6.972950e+11,1324100342488,1,69020210,130260,19480702,...,NaN,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1174041,350000,2024,4,1,4.915035e+13,3524102146862,1,69099318,130260,20220205,...,NaN,1,0,0,0,0,0,0,0,0
1188631,350000,2024,4,9,4.915035e+13,3524102146543,1,69068040,130260,20190121,...,NaN,0,0,0,0,0,0,0,0,0
1190896,350000,2024,4,1,4.915035e+13,3524102148424,1,69047460,130260,19980207,...,NaN,0,0,0,0,0,0,0,0,0
1201934,350000,2024,4,7,6.097574e+13,3524107477616,1,69087230,130260,20110613,...,NaN,0,0,0,0,0,0,0,0,0
1210968,170000,2024,4,2,1.368232e+12,1724100091912,1,69097486,130260,19960606,...,NaN,0,0,0,0,0,0,0,0,0

In [ ]:
SIH_filt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9897 entries, 804 to 1210968
Data columns (total 113 columns):
 #    Column      Non-Null Count  Dtype
---   ------      --------------  -----
 0    UF_ZI       9897 non-null   int64
 1    ANO_CMPT    9897 non-null   int64
 2    MES_CMPT    9897 non-null   int64
 3    ESPEC       9897 non-null   int64
 4    CGC_HOSP    9404 non-null   float64
 5    N_AIH       9897 non-null   int64
 6    IDENT       9897 non-null   int64
 7    CEP         9897 non-null   int64
 8    MUNIC_RES   9897 non-null   int64
 9    NASC        9897 non-null   int64
 10   SEXO        9897 non-null   int64
 11   UTI_MES_IN  9897 non-null   int64
 12   UTI_MES_AN  9897 non-null   int64
 13   UTI_MES_AL  9897 non-null   int64
 14   UTI_MES_TO  9897 non-null   int64
 15   MARCA_UTI   9897 non-null   int64
 16   UTI_INT_IN  9897 non-null   int64
 17   UTI_INT_AN  9897 non-null   int64
 18   UTI_INT_AL  9897 non-null   int64
 19   UTI_INT_TO  9897 non-null   int64
 20   DIAR_ACOM   9897 non-null   int64
 21   QT_DIARIAS  9897 non-null   int64
 22   PROC_SOLIC  9897 non-null   int64
 23   PROC_REA    9897 non-null   int64
 24   VAL_SH      9897 non-null   float64
 25   VAL_SP      9897 non-null   float64
 26   VAL_SADT    9897 non-null   float64
 27   VAL_RN      9897 non-null   float64
 28   VAL_ACOMP   9897 non-null   float64
 29   VAL_ORTP    9897 non-null   float64
 30   VAL_SANGUE  9897 non-null   float64
 31   VAL_SADTSR  9897 non-null   float64
 32   VAL_TRANSP  9897 non-null   float64
 33   VAL_OBSANG  9897 non-null   float64
 34   VAL_PED1AC  9897 non-null   float64
 35   VAL_TOT     9897 non-null   float64
 36   VAL_UTI     9897 non-null   float64
 37   US_TOT      9897 non-null   float64
 38   DT_INTER    9897 non-null   int64
 39   DT_SAIDA    9897 non-null   int64
 40   DIAG_PRINC  9897 non-null   object
 41   DIAG_SECUN  9897 non-null   int64
 42   COBRANCA    9897 non-null   int64
 43   NATUREZA    9897 non-null   int64
 44   NAT_JUR     9897 non-null   int64
 45   GESTAO      9897 non-null   int64
 46   RUBRICA     9897 non-null   int64
 47   IND_VDRL    9897 non-null   int64
 48   MUNIC_MOV   9897 non-null   int64
 49   COD_IDADE   9897 non-null   int64
 50   IDADE       9897 non-null   int64
 51   DIAS_PERM   9897 non-null   int64
 52   MORTE       9897 non-null   int64
 53   NACIONAL    9897 non-null   int64
 54   NUM_PROC    0 non-null      float64
 55   CAR_INT     9897 non-null   int64
 56   TOT_PT_SP   9897 non-null   int64
 57   CPF_AUT     0 non-null      float64
 58   HOMONIMO    9897 non-null   int64
 59   NUM_FILHOS  9897 non-null   int64
 60   INSTRU      9897 non-null   int64
 61   CID_NOTIF   117 non-null    object
 62   CONTRACEP1  9897 non-null   int64
 63   CONTRACEP2  9897 non-null   int64
 64   GESTRISCO   9897 non-null   int64
 65   INSC_PN     9897 non-null   int64
 66   SEQ_AIH5    9897 non-null   int64
 67   CBOR        9897 non-null   int64
 68   CNAER       9897 non-null   int64
 69   VINCPREV    9897 non-null   int64
 70   GESTOR_COD  9897 non-null   int64
 71   GESTOR_TP   9897 non-null   int64
 72   GESTOR_CPF  9897 non-null   int64
 73   GESTOR_DT   0 non-null      float64
 74   CNES        9897 non-null   int64
 75   CNPJ_MANT   6666 non-null   float64
 76   INFEHOSP    0 non-null      float64
 77   CID_ASSO    9897 non-null   int64
 78   CID_MORTE   9897 non-null   int64
 79   COMPLEX     9897 non-null   int64
 80   FINANC      9897 non-null   int64
 81   FAEC_TP     970 non-null    float64
 82   REGCT       9897 non-null   int64
 83   RACA_COR    9897 non-null   int64
 84   ETNIA       9897 non-null   int64
 85   SEQUENCIA   9897 non-null   int64
 86   REMESSA     9897 non-null   object
 87   AUD_JUST    1 non-null      object
 88   SIS_JUST    1 non-null      object
 89   VAL_SH_FED  9897 non-null   float64
 90   VAL_SP_FED  9897 non-null   float64
 91   VAL_SH_GES  9897 non-null   float64
 92   VAL_SP_GES  9897 non-null   float64
 93   VAL_UCI     9897 non-null   float64
 94   MARCA_UCI   9897 non-null   int64
 95   DIAGSEC1    1536 non-null   object
 96   DIAGSEC2    5 non-null      object
 97   DIAGSEC3    1 non-null      object
 98   DIAGSEC4    0 non-null      object
 99   DIAGSEC5    0 non-null      object
 100  DIAGSEC6    0 non-null      object
 101  DIAGSEC7    0 non-null      object
 102  DIAGSEC8    0 non-null      object
 103  DIAGSEC9    0 non-null      object
 104  TPDISEC1    9897 non-null   int64
 105  TPDISEC2    9897 non-null   int64
 106  TPDISEC3    9897 non-null   int64
 107  TPDISEC4    9897 non-null   int64
 108  TPDISEC5    9897 non-null   int64
 109  TPDISEC6    9897 non-null   int64
 110  TPDISEC7    9897 non-null   int64
 111  TPDISEC8    9897 non-null   int64
 112  TPDISEC9    9897 non-null   int64
dtypes: float64(26), int64(73), object(14)
memory usage: 8.9+ MB

In [86]:
# Excluir colunas que não serão utilizadas, a fim de tornar a base menos pesada

SIH_final = SIH_filt.drop(columns=['UF_ZI',
                                   'ANO_CMPT',
                                   'MES_CMPT',
                                   'N_AIH',
                                   'CEP',
                                   'UTI_MES_IN',
                                   'UTI_MES_AN',
                                   'UTI_MES_AL',
                                   'UTI_MES_TO',
                                   'UTI_INT_IN',
                                   'UTI_INT_AN',
                                   'UTI_INT_AL',
                                   'HOMONIMO',
                                   'MUNIC_MOV',
                                   'NUM_PROC',
                                   'TOT_PT_SP',
                                   'CPF_AUT',
                                   'HOMONIMO',
                                   'GESTOR_CPF',
                                   'GESTOR_DT',
                                   'SEQUENCIA',
                                   'REMESSA'])

In [87]:
SIH_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9897 entries, 804 to 1210968
Data columns (total 92 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ESPEC       9897 non-null   int64
 1   CGC_HOSP    9404 non-null   float64
 2   IDENT       9897 non-null   int64
 3   MUNIC_RES   9897 non-null   int64
 4   NASC        9897 non-null   int64
 5   SEXO        9897 non-null   int64
 6   MARCA_UTI   9897 non-null   int64
 7   UTI_INT_TO  9897 non-null   int64
 8   DIAR_ACOM   9897 non-null   int64
 9   QT_DIARIAS  9897 non-null   int64
 10  PROC_SOLIC  9897 non-null   int64
 11  PROC_REA    9897 non-null   int64
 12  VAL_SH      9897 non-null   float64
 13  VAL_SP      9897 non-null   float64
 14  VAL_SADT    9897 non-null   float64
 15  VAL_RN      9897 non-null   float64
 16  VAL_ACOMP   9897 non-null   float64
 17  VAL_ORTP    9897 non-null   float64
 18  VAL_SANGUE  9897 non-null   float64
 19  VAL_SADTSR  9897 non-null   float64
 20  VAL_TRANSP  9897 non-null   float64
 21  VAL_OBSANG  9897 non-null   float64
 22  VAL_PED1AC  9897 non-null   float64
 23  VAL_TOT     9897 non-null   float64
 24  VAL_UTI     9897 non-null   float64
 25  US_TOT      9897 non-null   float64
 26  DT_INTER    9897 non-null   int64
 27  DT_SAIDA    9897 non-null   int64
 28  DIAG_PRINC  9897 non-null   object
 29  DIAG_SECUN  9897 non-null   int64
 30  COBRANCA    9897 non-null   int64
 31  NATUREZA    9897 non-null   int64
 32  NAT_JUR     9897 non-null   int64
 33  GESTAO      9897 non-null   int64
 34  RUBRICA     9897 non-null   int64
 35  IND_VDRL    9897 non-null   int64
 36  COD_IDADE   9897 non-null   int64
 37  IDADE       9897 non-null   int64
 38  DIAS_PERM   9897 non-null   int64
 39  MORTE       9897 non-null   int64
 40  NACIONAL    9897 non-null   int64
 41  CAR_INT     9897 non-null   int64
 42  NUM_FILHOS  9897 non-null   int64
 43  INSTRU      9897 non-null   int64
 44  CID_NOTIF   117 non-null    object
 45  CONTRACEP1  9897 non-null   int64
 46  CONTRACEP2  9897 non-null   int64
 47  GESTRISCO   9897 non-null   int64
 48  INSC_PN     9897 non-null   int64
 49  SEQ_AIH5    9897 non-null   int64
 50  CBOR        9897 non-null   int64
 51  CNAER       9897 non-null   int64
 52  VINCPREV    9897 non-null   int64
 53  GESTOR_COD  9897 non-null   int64
 54  GESTOR_TP   9897 non-null   int64
 55  CNES        9897 non-null   int64
 56  CNPJ_MANT   6666 non-null   float64
 57  INFEHOSP    0 non-null      float64
 58  CID_ASSO    9897 non-null   int64
 59  CID_MORTE   9897 non-null   int64
 60  COMPLEX     9897 non-null   int64
 61  FINANC      9897 non-null   int64
 62  FAEC_TP     970 non-null    float64
 63  REGCT       9897 non-null   int64
 64  RACA_COR    9897 non-null   int64
 65  ETNIA       9897 non-null   int64
 66  AUD_JUST    1 non-null      object
 67  SIS_JUST    1 non-null      object
 68  VAL_SH_FED  9897 non-null   float64
 69  VAL_SP_FED  9897 non-null   float64
 70  VAL_SH_GES  9897 non-null   float64
 71  VAL_SP_GES  9897 non-null   float64
 72  VAL_UCI     9897 non-null   float64
 73  MARCA_UCI   9897 non-null   int64
 74  DIAGSEC1    1536 non-null   object
 75  DIAGSEC2    5 non-null      object
 76  DIAGSEC3    1 non-null      object
 77  DIAGSEC4    0 non-null      object
 78  DIAGSEC5    0 non-null      object
 79  DIAGSEC6    0 non-null      object
 80  DIAGSEC7    0 non-null      object
 81  DIAGSEC8    0 non-null      object
 82  DIAGSEC9    0 non-null      object
 83  TPDISEC1    9897 non-null   int64
 84  TPDISEC2    9897 non-null   int64
 85  TPDISEC3    9897 non-null   int64
 86  TPDISEC4    9897 non-null   int64
 87  TPDISEC5    9897 non-null   int64
 88  TPDISEC6    9897 non-null   int64
 89  TPDISEC7    9897 non-null   int64
 90  TPDISEC8    9897 non-null   int64
 91  TPDISEC9    9897 non-null   int64
dtypes: float64(23), int64(56), object(13)
memory usage: 7.0+ MB

In [83]:
#Substituir os valores faltantes das colunas de de diagnóstico secundário por uma célula vazia, que significará a ausência de diagnósticos.
# Nesse sentido, assumimos que os valores faltantes equivalem à ausência de diagnóstico secundário.

SIH_final = SIH_final.fillna ({'DIAGSEC1': '',
                               'DIAGSEC2': '',
                               'DIAGSEC3': '',
                               'DIAGSEC4': '',
                               'DIAGSEC5': '',
                               'DIAGSEC6': '',
                               'DIAGSEC7': '',
                               'DIAGSEC8': '',
                               'DIAGSEC9': ''})

In [84]:
SIH_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9897 entries, 804 to 1210968
Data columns (total 92 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ESPEC       9897 non-null   int64
 1   CGC_HOSP    9404 non-null   float64
 2   IDENT       9897 non-null   int64
 3   MUNIC_RES   9897 non-null   int64
 4   NASC        9897 non-null   int64
 5   SEXO        9897 non-null   int64
 6   MARCA_UTI   9897 non-null   int64
 7   UTI_INT_TO  9897 non-null   int64
 8   DIAR_ACOM   9897 non-null   int64
 9   QT_DIARIAS  9897 non-null   int64
 10  PROC_SOLIC  9897 non-null   int64
 11  PROC_REA    9897 non-null   int64
 12  VAL_SH      9897 non-null   float64
 13  VAL_SP      9897 non-null   float64
 14  VAL_SADT    9897 non-null   float64
 15  VAL_RN      9897 non-null   float64
 16  VAL_ACOMP   9897 non-null   float64
 17  VAL_ORTP    9897 non-null   float64
 18  VAL_SANGUE  9897 non-null   float64
 19  VAL_SADTSR  9897 non-null   float64
 20  VAL_TRANSP  9897 non-null   float64
 21  VAL_OBSANG  9897 non-null   float64
 22  VAL_PED1AC  9897 non-null   float64
 23  VAL_TOT     9897 non-null   float64
 24  VAL_UTI     9897 non-null   float64
 25  US_TOT      9897 non-null   float64
 26  DT_INTER    9897 non-null   int64
 27  DT_SAIDA    9897 non-null   int64
 28  DIAG_PRINC  9897 non-null   object
 29  DIAG_SECUN  9897 non-null   int64
 30  COBRANCA    9897 non-null   int64
 31  NATUREZA    9897 non-null   int64
 32  NAT_JUR     9897 non-null   int64
 33  GESTAO      9897 non-null   int64
 34  RUBRICA     9897 non-null   int64
 35  IND_VDRL    9897 non-null   int64
 36  COD_IDADE   9897 non-null   int64
 37  IDADE       9897 non-null   int64
 38  DIAS_PERM   9897 non-null   int64
 39  MORTE       9897 non-null   int64
 40  NACIONAL    9897 non-null   int64
 41  CAR_INT     9897 non-null   int64
 42  NUM_FILHOS  9897 non-null   int64
 43  INSTRU      9897 non-null   int64
 44  CID_NOTIF   117 non-null    object
 45  CONTRACEP1  9897 non-null   int64
 46  CONTRACEP2  9897 non-null   int64
 47  GESTRISCO   9897 non-null   int64
 48  INSC_PN     9897 non-null   int64
 49  SEQ_AIH5    9897 non-null   int64
 50  CBOR        9897 non-null   int64
 51  CNAER       9897 non-null   int64
 52  VINCPREV    9897 non-null   int64
 53  GESTOR_COD  9897 non-null   int64
 54  GESTOR_TP   9897 non-null   int64
 55  CNES        9897 non-null   int64
 56  CNPJ_MANT   6666 non-null   float64
 57  INFEHOSP    0 non-null      float64
 58  CID_ASSO    9897 non-null   int64
 59  CID_MORTE   9897 non-null   int64
 60  COMPLEX     9897 non-null   int64
 61  FINANC      9897 non-null   int64
 62  FAEC_TP     970 non-null    float64
 63  REGCT       9897 non-null   int64
 64  RACA_COR    9897 non-null   int64
 65  ETNIA       9897 non-null   int64
 66  AUD_JUST    1 non-null      object
 67  SIS_JUST    1 non-null      object
 68  VAL_SH_FED  9897 non-null   float64
 69  VAL_SP_FED  9897 non-null   float64
 70  VAL_SH_GES  9897 non-null   float64
 71  VAL_SP_GES  9897 non-null   float64
 72  VAL_UCI     9897 non-null   float64
 73  MARCA_UCI   9897 non-null   int64
 74  DIAGSEC1    9897 non-null   object
 75  DIAGSEC2    9897 non-null   object
 76  DIAGSEC3    9897 non-null   object
 77  DIAGSEC4    9897 non-null   object
 78  DIAGSEC5    9897 non-null   object
 79  DIAGSEC6    9897 non-null   object
 80  DIAGSEC7    9897 non-null   object
 81  DIAGSEC8    9897 non-null   object
 82  DIAGSEC9    9897 non-null   object
 83  TPDISEC1    9897 non-null   int64
 84  TPDISEC2    9897 non-null   int64
 85  TPDISEC3    9897 non-null   int64
 86  TPDISEC4    9897 non-null   int64
 87  TPDISEC5    9897 non-null   int64
 88  TPDISEC6    9897 non-null   int64
 89  TPDISEC7    9897 non-null   int64
 90  TPDISEC8    9897 non-null   int64
 91  TPDISEC9    9897 non-null   int64
dtypes: float64(23), int64(56), object(13)
memory usage: 7.0+ MB