<a href="https://colab.research.google.com/github/lucasmeirellesmachado/Dados-googlecolab/blob/main/Aula_revis%C3%A3o_29_01_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
base = pd.read_csv('https://raw.githubusercontent.com/lucasmeirellesmachado/Dados-googlecolab/refs/heads/main/Banco%20de%20Dados%20Laboratorio.csv')

In [6]:
base

,IDCOLABORADOR,IDADE,INSATISTFEITO,STATUSCIVIL,GENERO,NOME,SETOR,CARGO,CEP,NIVELEDUCACAO,FORMACAO,RENDAMENSAL,DESCONTOULTIMAFATURA,ANONAEMPRESA,ANOSMESMAPOSICAO,ANOSDESDEULTIMAPROMOCAO
0,1,41,Sim,Solteiro,Feminino,Maria da Silva,Alimentos,Auditor,1.0,2,Ciencias Sociais,19479,Sim,6,4,0
1,5,33,Nao,Casado,Feminino,Ana Oliveira,Saude,Pesquisador,3.0,4,Ciencias Sociais,23159,Sim,8,7,3
2,10,59,Nao,Casado,Feminino,Juliana Santos,Saude,Tecnico de Laboratorio,3.0,3,Medicina,9964,Sim,1,0,0
3,15,29,Nao,Solteiro,Feminino,Fernanda Costa,Saude,Tecnico de Laboratorio,NaN,2,Ciencias Sociais,12682,Sim,9,5,0
4,20,29,Nao,Divorciado,Feminino,Beatriz Lima,Saude,Diretor de Manufatura,21.0,4,Ciencias Sociais,10195,Nao,10,9,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,2061,36,Nao,Casado,Masculino,Otavio Dias,Saude,Tecnico de Laboratorio,23.0,2,Medicina,12290,Nao,5,2,0
1466,2062,39,Nao,Casado,Masculino,Pedro Barros,Saude,Representante da Saude,6.0,1,Medicina,21457,Nao,7,7,1
1467,2064,27,Nao,Casado,Masculino,Ravi Santos,Saude,Diretor de Manufatura,4.0,3,Ciencias Sociais,5174,Sim,6,2,0
1468,2065,49,Nao,Casado,Masculino,Theo Costa,Alimentos,Auditor,2.0,3,Medicina,13243,Nao,9,6,0
1469,2068,34,Nao,Casado,Masculino,Eduardo Mendes,Saude,Tecnico de Laboratorio,NaN,3,Medicina,10228,Nao,4,3,1

In [5]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   IDCOLABORADOR            1470 non-null   int64
 1   IDADE                    1470 non-null   int64
 2   INSATISTFEITO            1470 non-null   object
 3   STATUSCIVIL              1470 non-null   object
 4   GENERO                   1470 non-null   object
 5   NOME                     1470 non-null   object
 6   SETOR                    1470 non-null   object
 7   CARGO                    1470 non-null   object
 8   CEP                      1426 non-null   float64
 9   NIVELEDUCACAO            1470 non-null   int64
 10  FORMACAO                 1470 non-null   object
 11  RENDAMENSAL              1470 non-null   int64
 12  DESCONTOULTIMAFATURA     1470 non-null   object
 13  ANONAEMPRESA             1470 non-null   int64
 14  ANOSMESMAPOSICAO         1470 non-null   int64
 15  ANOSDESDEULTIMAPROMOCAO  1470 non-null   int64
dtypes: float64(1), int64(7), object(8)
memory usage: 183.9+ KB

In [7]:
base.describe()

,IDCOLABORADOR,IDADE,CEP,NIVELEDUCACAO,RENDAMENSAL,ANONAEMPRESA,ANOSMESMAPOSICAO,ANOSDESDEULTIMAPROMOCAO
count,1470.000000,1470.000000,1426.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,1024.865306,36.923810,9.140252,2.912925,14313.103401,7.008163,4.229252,2.187755
std,602.024335,9.135373,8.065954,1.024165,7117.786044,6.126525,3.623137,3.222430
min,1.000000,18.000000,1.000000,1.000000,2094.000000,0.000000,0.000000,0.000000
25%,491.250000,30.000000,2.000000,2.000000,8047.000000,3.000000,2.000000,0.000000
50%,1020.500000,36.000000,7.000000,3.000000,14235.500000,5.000000,3.000000,1.000000
75%,1555.750000,43.000000,14.000000,4.000000,20461.500000,9.000000,7.000000,3.000000
max,2068.000000,60.000000,29.000000,5.000000,26999.000000,40.000000,18.000000,15.000000

In [12]:
base.isna().sum()

IDCOLABORADOR               0
IDADE                       0
INSATISTFEITO               0
STATUSCIVIL                 0
GENERO                      0
NOME                        0
SETOR                       0
CARGO                       0
CEP                        44
NIVELEDUCACAO               0
FORMACAO                    0
RENDAMENSAL                 0
DESCONTOULTIMAFATURA        0
ANONAEMPRESA                0
ANOSMESMAPOSICAO            0
ANOSDESDEULTIMAPROMOCAO     0
dtype: int64

In [13]:
base.dropna()

,IDCOLABORADOR,IDADE,INSATISTFEITO,STATUSCIVIL,GENERO,NOME,SETOR,CARGO,CEP,NIVELEDUCACAO,FORMACAO,RENDAMENSAL,DESCONTOULTIMAFATURA,ANONAEMPRESA,ANOSMESMAPOSICAO,ANOSDESDEULTIMAPROMOCAO
0,1,41,Sim,Solteiro,Feminino,Maria da Silva,Alimentos,Auditor,1.0,2,Ciencias Sociais,19479,Sim,6,4,0
1,5,33,Nao,Casado,Feminino,Ana Oliveira,Saude,Pesquisador,3.0,4,Ciencias Sociais,23159,Sim,8,7,3
2,10,59,Nao,Casado,Feminino,Juliana Santos,Saude,Tecnico de Laboratorio,3.0,3,Medicina,9964,Sim,1,0,0
4,20,29,Nao,Divorciado,Feminino,Beatriz Lima,Saude,Diretor de Manufatura,21.0,4,Ciencias Sociais,10195,Nao,10,9,8
5,23,53,Nao,Casado,Feminino,Adriana Pereira,Alimentos,Gestor,2.0,4,Ciencias Sociais,22021,Nao,25,8,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1464,2057,31,Nao,Solteiro,Masculino,Nicolas Teixeira,Saude,Diretor de Manufatura,5.0,3,Medicina,3787,Nao,9,4,1
1465,2061,36,Nao,Casado,Masculino,Otavio Dias,Saude,Tecnico de Laboratorio,23.0,2,Medicina,12290,Nao,5,2,0
1466,2062,39,Nao,Casado,Masculino,Pedro Barros,Saude,Representante da Saude,6.0,1,Medicina,21457,Nao,7,7,1
1467,2064,27,Nao,Casado,Masculino,Ravi Santos,Saude,Diretor de Manufatura,4.0,3,Ciencias Sociais,5174,Sim,6,2,0
1468,2065,49,Nao,Casado,Masculino,Theo Costa,Alimentos,Auditor,2.0,3,Medicina,13243,Nao,9,6,0

In [15]:
base['IDADE']

      IDADE
0        41
1        33
2        59
3        29
4        29
...     ...
1465     36
1466     39
1467     27
1468     49
1469     34

[1470 rows x 1 columns]

In [21]:
base[['IDADE', 'STATUSCIVIL']]

      IDADE STATUSCIVIL
0        41    Solteiro
1        33      Casado
2        59      Casado
3        29    Solteiro
4        29  Divorciado
...     ...         ...
1465     36      Casado
1466     39      Casado
1467     27      Casado
1468     49      Casado
1469     34      Casado

[1470 rows x 2 columns]

In [23]:
base[base['IDADE'] >=30]

,IDCOLABORADOR,IDADE,INSATISTFEITO,STATUSCIVIL,GENERO,NOME,SETOR,CARGO,CEP,NIVELEDUCACAO,FORMACAO,RENDAMENSAL,DESCONTOULTIMAFATURA,ANONAEMPRESA,ANOSMESMAPOSICAO,ANOSDESDEULTIMAPROMOCAO
0,1,41,Sim,Solteiro,Feminino,Maria da Silva,Alimentos,Auditor,1.0,2,Ciencias Sociais,19479,Sim,6,4,0
1,5,33,Nao,Casado,Feminino,Ana Oliveira,Saude,Pesquisador,3.0,4,Ciencias Sociais,23159,Sim,8,7,3
2,10,59,Nao,Casado,Feminino,Juliana Santos,Saude,Tecnico de Laboratorio,3.0,3,Medicina,9964,Sim,1,0,0
5,23,53,Nao,Casado,Feminino,Adriana Pereira,Alimentos,Gestor,2.0,4,Ciencias Sociais,22021,Nao,25,8,3
7,28,34,Nao,Solteiro,Feminino,Camila Fernandes,Saude,Diretor de Pesquisa,7.0,4,Ciencias Sociais,21293,Nao,12,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1464,2057,31,Nao,Solteiro,Masculino,Nicolas Teixeira,Saude,Diretor de Manufatura,5.0,3,Medicina,3787,Nao,9,4,1
1465,2061,36,Nao,Casado,Masculino,Otavio Dias,Saude,Tecnico de Laboratorio,23.0,2,Medicina,12290,Nao,5,2,0
1466,2062,39,Nao,Casado,Masculino,Pedro Barros,Saude,Representante da Saude,6.0,1,Medicina,21457,Nao,7,7,1
1468,2065,49,Nao,Casado,Masculino,Theo Costa,Alimentos,Auditor,2.0,3,Medicina,13243,Nao,9,6,0
1469,2068,34,Nao,Casado,Masculino,Eduardo Mendes,Saude,Tecnico de Laboratorio,NaN,3,Medicina,10228,Nao,4,3,1

In [30]:
base_filtrada = base[
                    (base['IDADE'] >=30) &
                    (base['STATUSCIVIL'] == 'Casado')
                    ]

In [31]:
base_filtrada

,IDCOLABORADOR,IDADE,INSATISTFEITO,STATUSCIVIL,GENERO,NOME,SETOR,CARGO,CEP,NIVELEDUCACAO,FORMACAO,RENDAMENSAL,DESCONTOULTIMAFATURA,ANONAEMPRESA,ANOSMESMAPOSICAO,ANOSDESDEULTIMAPROMOCAO
1,5,33,Nao,Casado,Feminino,Ana Oliveira,Saude,Pesquisador,3.0,4,Ciencias Sociais,23159,Sim,8,7,3
2,10,59,Nao,Casado,Feminino,Juliana Santos,Saude,Tecnico de Laboratorio,3.0,3,Medicina,9964,Sim,1,0,0
5,23,53,Nao,Casado,Feminino,Adriana Pereira,Alimentos,Gestor,2.0,4,Ciencias Sociais,22021,Nao,25,8,3
10,36,44,Nao,Casado,Feminino,Vanessa Souza,Saude,Representante da Saude,7.0,4,Medicina,2094,Nao,22,6,5
13,49,35,Nao,Casado,Feminino,Isabela Oliveira,Alimentos,Representante de Setor,2.0,3,Marketing,9687,Nao,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461,2049,35,Nao,Casado,Masculino,Joao Ferreira,Saude,Representante da Saude,18.0,4,Ciencias Sociais,24594,Sim,10,2,0
1465,2061,36,Nao,Casado,Masculino,Otavio Dias,Saude,Tecnico de Laboratorio,23.0,2,Medicina,12290,Nao,5,2,0
1466,2062,39,Nao,Casado,Masculino,Pedro Barros,Saude,Representante da Saude,6.0,1,Medicina,21457,Nao,7,7,1
1468,2065,49,Nao,Casado,Masculino,Theo Costa,Alimentos,Auditor,2.0,3,Medicina,13243,Nao,9,6,0
1469,2068,34,Nao,Casado,Masculino,Eduardo Mendes,Saude,Tecnico de Laboratorio,NaN,3,Medicina,10228,Nao,4,3,1

In [34]:
#Resetar index da base filtrada (não é importante para a análise de dados de forma geral)

base_filtrada.reset_index(drop=True, inplace=True)

In [35]:
base_filtrada

,IDCOLABORADOR,IDADE,INSATISTFEITO,STATUSCIVIL,GENERO,NOME,SETOR,CARGO,CEP,NIVELEDUCACAO,FORMACAO,RENDAMENSAL,DESCONTOULTIMAFATURA,ANONAEMPRESA,ANOSMESMAPOSICAO,ANOSDESDEULTIMAPROMOCAO
0,5,33,Nao,Casado,Feminino,Ana Oliveira,Saude,Pesquisador,3.0,4,Ciencias Sociais,23159,Sim,8,7,3
1,10,59,Nao,Casado,Feminino,Juliana Santos,Saude,Tecnico de Laboratorio,3.0,3,Medicina,9964,Sim,1,0,0
2,23,53,Nao,Casado,Feminino,Adriana Pereira,Alimentos,Gestor,2.0,4,Ciencias Sociais,22021,Nao,25,8,3
3,36,44,Nao,Casado,Feminino,Vanessa Souza,Saude,Representante da Saude,7.0,4,Medicina,2094,Nao,22,6,5
4,49,35,Nao,Casado,Feminino,Isabela Oliveira,Alimentos,Representante de Setor,2.0,3,Marketing,9687,Nao,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538,2049,35,Nao,Casado,Masculino,Joao Ferreira,Saude,Representante da Saude,18.0,4,Ciencias Sociais,24594,Sim,10,2,0
539,2061,36,Nao,Casado,Masculino,Otavio Dias,Saude,Tecnico de Laboratorio,23.0,2,Medicina,12290,Nao,5,2,0
540,2062,39,Nao,Casado,Masculino,Pedro Barros,Saude,Representante da Saude,6.0,1,Medicina,21457,Nao,7,7,1
541,2065,49,Nao,Casado,Masculino,Theo Costa,Alimentos,Auditor,2.0,3,Medicina,13243,Nao,9,6,0
542,2068,34,Nao,Casado,Masculino,Eduardo Mendes,Saude,Tecnico de Laboratorio,NaN,3,Medicina,10228,Nao,4,3,1

In [38]:
#Salvar base_filtrada como nova planilha

base_filtrada.to_csv('base_filtrada.csv', index=False)

In [44]:
base_filtrada['coluna_nova'] = 0

ou

base_filtrada['coluna_nova'] = base_filtrada['IDADE'] + 10

#Se eu colocar o nome de uma coluna que já existe, os dados dessa coluna serão substituídos

<ipython-input-44-eb81d6bb5d03>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_filtrada['coluna_nova'] = 0

NameError: name 'ou' is not defined